<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Facultad - Universidad Nacional de Jujuy</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <style>
        .logo {
            max-width: 100px;
        }
    </style>
</head>
<body>
    <header class="bg-primary text-white p-3 text-center">
        <img src="img/unju.png" alt="Logotipo de la Facultad" class="logo">
        <h1>Facultad de Ciencias de la Programación</h1>
        <p>Innovación y Excelencia en Educación</p>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Facultad</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#acerca">Acerca de</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.fi.unju.edu.ar/17-carreras.html">Carreras</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://noticias.unju.edu.ar/">Noticias</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.fi.unju.edu.ar/servicios/telefonos.html">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <aside class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://www.unju.edu.ar/biblioteca.html">Biblioteca</a></li>
                    <li class="list-group-item"><a href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html">Calendario Académico</a></li>
                </ul>
            </aside>
            <main class="col-md-9">
                <section id="acerca">
                    <h2>Sobre la Facultad</h2>
                    <p>La Facultad de Ciencias de la Programación de la Universidad Nacional de Jujuy se dedica a la formación de profesionales en el ámbito de la programación y tecnología.</p>
                </section>
                <section>
                    <h2>Noticias Recientes</h2>
                    <article>
                        <h3>Inauguración del nuevo laboratorio de informática</h3>
                        <p>La facultad ha inaugurado un nuevo laboratorio con equipos de última generación para mejorar la experiencia de aprendizaje de los estudiantes.</p>
                    </article>
                </section>
            </main>
        </div>
    </div>

    <footer class="bg-dark text-white text-center p-3 mt-4">
        <p>Dirección: Av. Bolivia 1239, Y4600 San Salvador de Jujuy, Jujuy</p>
        <p>Teléfono: +54 388 123 4567 | Email: consultas@unju.edu.ar</p>
        <p>
            <a href="https://www.facebook.com/universidadnacionaldejujuy/?locale=es_LA" class="text-white me-2">Facebook</a>
            <a href="https://www.instagram.com/fiunju/?hl=es" class="text-white">Instagram</a>
        </p>
        <p>&copy; 2024 Facultad de Ciencias de la Programación. Todos los derechos reservados.</p>
    </footer>

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>